.env
.idea/
__pycache__/
*.pyc
.pytest_cache/

backend/data/
backend/__pycache__/
backend/app/**/__pycache__/
backend/chroma_private_db/
backend/chroma_private_db_backup/
backend/my_private_knowledge/
backend/server.*.log
backend/api/
backend/rag/
backend/models/

rag-vue-ui/node_modules/
rag-vue-ui/dist/
rag-vue-ui/.vscode/

*.log

chroma_private_db/
my_private_knowledge/
ask.py
main.py
index.html
command
*.pyc
