fastapi
uvicorn[standard]
python-multipart
python-dotenv
sniffio
sqlalchemy
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]
email-validator
redis
langchain
langchain-community
langchain-core
chromadb
zhipuai
pypdf
docx2txt
